body {
  margin: 0;
  background: var(--theme-bg-accent);
}
img {
  max-width: 100%;
  object-fit: cover;
}
.wrapper {
  max-width: 1440px;
  margin: auto;
  box-shadow: 1px 0 0 var(--theme-border);
}
main {
  background: var(--theme-bg-content);
  padding-top: 36px;
  position: relative;
  height: 100%;
  flex-grow: 1;
  transition: background-color var(--transition-timing), color var(--transition-timing);
}
section {
  padding: 1rem;
  border-bottom: 1px var(--theme-border) solid;
  &.section-orange {
    --section-color: var(--theme-color-orange);
  }
  &.section-blue {
    --section-color: var(--theme-color-blue);
  }
  &.section-red {
    --section-color: var(--theme-color-red);
  }
  &.section-green {
    --section-color: var(--theme-color-green);
  }
}
.section-heading {
  svg {
    height: 36px;
    min-width: 30px;
    width: 30px;
    color: var(--section-color);
    filter: drop-shadow(0.05rem 0.05rem 0 var(--theme-shadow));
  }
  button {
    margin: 0 0 0.1rem 0.25rem;
    align-self: flex-end;
  }
}
button, a.button {
  border: 1px var(--theme-font-accent) solid;
  border-radius: 0.2rem;
  font-size: 0.825rem;
  text-decoration: none;
  background: var(--theme-font-accent);
  color: var(--theme-bg-accent);
  border-color: var(--theme-font-accent);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.03rem 0.1rem var(--theme-border);
  transform: scale(1);
  transition: all var(--transition-timing);
  &:active, &:focus {
    outline: none;
  }
  &.download {
    margin: 1.5rem 0 0.75rem;
    padding: 0.15rem 0.75rem 0.15rem 0.5rem;
    display: inline-block;
    text-shadow: none;
    &::before {
      content: "\2750";
      display: inline-block;
      margin-right: 0.25rem;

    }
  }
}
.theme-toggle {
  position: sticky;
  top: 2.25rem;
  left: 100%;
  z-index: 9;
  button {
    padding: 0.2rem 0.3rem 0;
    font-size: 1.15rem;
    line-height: 1em;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform-origin: center right;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
.headshot {
  text-align: center;
  img {
    width: 100%;
    max-width: 244px;
    max-height: 244px;
    border-radius: 50%;
    border: 1rem #fff solid;
    box-shadow: 0 0 0.5rem var(--theme-shadow);
  }
}

@media(hover: hover) and (pointer: fine) {
  button,
  a.button {
    &:hover {
      background: var(--theme-bg-accent);
      color: var(--theme-font-accent);
      border-color: var(--theme-border);
      box-shadow: 0 0.15rem 0.5rem var(--theme-border);
      transform: scale(1.05);
    }
    &:active {
      box-shadow: 0 0.03rem 0.1rem var(--theme-border);
      transform: scale(1);
    }
  }
}

@media(min-width:768px) {
  .wrapper {
    display: flex;
  }
  main {
    width: calc(100% - 200px);
    padding-top: 0;
    section {
      padding: 2rem;
    }
  }
  #hello {
    padding-bottom: 3rem;
  }
  .section-heading {
    svg {
      height: 48px;
      width: 42px;
    }
    h2 {
      flex-grow: unset;
    }
    button {
      margin: 0 0 0.25rem 0.875rem;
    }
  }
  .theme-toggle {
    top: 1rem;
    button {
      max-width: 1.5rem;
      padding: 0.25rem 0 0;
      border-right: none;
      border-top: 1px var(--theme-font-accent) solid;
      border-top-left-radius: 0.2rem;
      border-bottom-right-radius: 0;
    }
    button:hover {
      border-color: var(--theme-border);
    }
  }
  a.button.download {
    margin: 1.5rem 0 0;
    position: relative;
    z-index: 1;
  }
  .headshot {
    margin: 0 1rem;
  }
}