:root {
  --transition-timing: 0.15s;
  --border-width: 0.05rem;
  --theme-color-blue: #2bb5d9;
  --theme-color-blue-alpha-15: #2bb5d926;
  --theme-color-orange: #f94;
  --theme-color-orange-alpha-15: #ff994426;
  --theme-color-red: #f07167;
  --theme-color-red-alpha-15: #f0716726;
  --theme-color-green: #7eb963;
  --theme-color-green-alpha-15: #7eb96326;
  --theme-bg-content: #fff;
  --theme-bg-accent: #f5f5f5;
  --theme-bg-nav: #e8e8e8;
  --theme-bg-masonry: #eee;
  --theme-border: #ccc;
  --theme-font: #444;
  --theme-font-accent: #666;
  --theme-link: #1ba5c9;
  --theme-bullet: #2bb5d9;
  --theme-shadow: #cdcdcd;
  --theme-shadow-accent: #aaa;
}
body.theme-dark {
  --theme-color-blue: #bef;
  --theme-color-blue-alpha-15: #bbeeff26;
  --theme-color-orange: #fd9;
  --theme-color-orange-alpha-15: #ffdd9926;
  --theme-color-red: #fe7f74;
  --theme-color-red-alpha-15: #fe7f7426;
  --theme-color-green: #83cd61;
  --theme-color-green-alpha-15: #83cd6126;
  --theme-bg-content: #3f3f3f;
  --theme-bg-accent: #4a4a4a;
  --theme-bg-nav: #333;
  --theme-bg-masonry: #444;
  --theme-border: #222;
  --theme-font: #fcfcfc;
  --theme-font-accent: #eee;
  --theme-link: #4bd5f9;
  --theme-bullet: #4bd5f9;
  --theme-shadow: #2a2a2a;
  --theme-shadow-accent: #1a1a1a;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 1.5rem;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  background: var(--theme-bg-accent);
  color: var(--theme-font);
  font-size: 13px;
  line-height: 1.55em;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.hide {
  display: none;
}
.grid {
  display: grid;
  grid-auto-flow: row;
}
.equal-col {
  grid-auto-columns: minmax(0, 1fr);
}
.col-3 {
  grid-auto-flow: row;
  grid-template-areas: "a";
}
.gap-half {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-1-half {
  gap: 1.5rem;
}
.grid > div {
  display: flex;
  flex-direction: column;
}
.grid > div > div {
  flex-grow: 1;
}
.inline-block {
  display: inline-block;
  margin: 0;
}
.flex {
  display: flex;
}
.padding-1 {
  padding: 1rem;
}
.margin-top-half {
  margin-top: 0.5rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-1-half {
  margin-top: 1.5rem;
}
.nowrap {
  white-space: nowrap;
}
.color-blue {
  color: var(--theme-color-blue);
}
.color-orange {
  color: var(--theme-color-orange);
}
.color-red {
  color: var(--theme-color-red);
}
.color-green {
  color: var(--theme-color-green);
}
.active-border {
  animation-duration: 1s;
  animation-name: border-active-color;
  animation-play-state: paused;
  animation-delay: var(--scroll-position, 0);
  animation-timing-function: linear;
}
.active-font {
  animation-duration: 1s;
  animation-name: font-active-color;
  animation-play-state: paused;
  animation-delay: var(--scroll-position, 0);
  animation-timing-function: linear;
}
.wrapper {
  max-width: 1440px;
  margin: auto;
  box-shadow: 1px 0 0 var(--theme-border);
}
h1 {
  font-size: 1.425rem;
  font-weight: bold;
}
h2 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: normal;
}
h3 {
  font-size: 1.17rem;
  font-weight: bold;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
}
h1, h2, h3, h4, p {
  margin: 0;
}
h1 + h2,
h1 + p,
h2 + h3,
h2 + p,
h2 + ul,
h2 + .grid,
.grid + .grid,
ul + p,
p + p,
p + h4 {
  margin-top: 1rem;
}
ul {
  margin: 0;
  padding: 0 0 0 1.25rem;
}
ul ::marker {
  animation-duration: 1s;
  animation-name: font-active-color;
  animation-play-state: paused;
  animation-delay: var(--scroll-position, 0);
  animation-timing-function: linear;;
}
a {
  text-underline-offset: 0.15em;
  text-decoration-thickness: 1px;
  text-shadow: 0 0 0 var(--theme-link);
  transition: all var(--transition-timing);
  color: var(--theme-link);
}
a:hover {
  text-underline-offset: 0.1375em;
  text-decoration-thickness: 1.35px;
  text-shadow: 0rem 0.0375rem var(--theme-link);
}
a[href^="tel:"], a[href^="mailto:"] {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
}
a[href^="tel:"]::before, a[href^="mailto:"]::before {
  text-decoration: none;
  position: absolute;
  left: -20px;
}
a[href^="tel:"]::before {
  content: "\260F";
}
a[href^="mailto:"]::before {
  content: "\2709";
}
button, a.button {
  border: 1px var(--theme-border) solid;
  border-radius: 0.2rem;
  font-size: 0.825rem;
  color: var(--theme-font-accent);
  text-decoration: none;
  background: var(--theme-bg-accent);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: all var(--transition-timing);
}
button:hover,
a.button:hover {
  background: var(--theme-font-accent);
  color: var(--theme-bg-accent);
  border-color: var(--theme-font-accent);
  box-shadow: 0 0.15rem 0.5rem var(--theme-border);
  transform: scale(1.05);
}
button:active,
a.button:active,
button:focus,
a.button:focus {
  outline: none;
}
a.button.download {
  margin: 1.5rem 0 0.75rem;
  padding: 0.15rem 0.75rem 0.15rem 0.5rem;
  display: inline-block;
  text-shadow: none;
}
a.button.download::before {
  content: "\2750";
  display: inline-block;
  margin-right: 0.25rem;
}
label {
  cursor: pointer;
  position: relative;
}
nav {
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.25rem;
  overflow: hidden;
  z-index: 9;
  background: var(--theme-bg-nav);
  box-shadow: inset var(--theme-shadow) 0 0 5px 1px;
}
nav a {
  position: relative;
  height: 25vh;
  flex: 1;
  font-size: 0.85rem;
  text-align: center;
  line-height: 2.5em;
  color: var(--theme-font);
  text-decoration: none;
  border-bottom: 1px var(--theme-border) solid;
  border-right: 1px var(--theme-border) solid;
  transition: all var(--transition-timing) linear;
}
nav a:hover {
  font-size: 0.9rem;
  line-height: 2.35em;
}
nav div {
  position: absolute;
  display: none;
  left: 0.5rem;
  height: 25vh;
  width: calc(100% - 0.5rem);
  background: var(--theme-bg-content);
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: var(--theme-shadow) 0px 0px 6px 2px;
  transition: background-color var(--transition-timing);
  border-left-width: 0.25rem;
  border-left-style: solid;
}
nav div::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  background: -moz-radial-gradient(0 0, circle, rgba(0,0,0,0) 0.5rem, var(--theme-bg-content) 0.5rem);
  background: -o-radial-gradient(0 0, circle, rgba(0,0,0,0) 0.5rem, var(--theme-bg-content) 0.5rem);
  background: -webkit-radial-gradient(0 0, circle, rgba(0,0,0,0) 0.5rem, var(--theme-bg-content) 0.5rem);
}
nav div::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  background: -moz-radial-gradient(0 100%, circle, rgba(0,0,0,0) 0.5rem, var(--theme-bg-content) 0.5rem);
  background: -o-radial-gradient(0 100%, circle, rgba(0,0,0,0) 0.5rem, var(--theme-bg-content) 0.5rem);
  background: -webkit-radial-gradient(0 100%, circle, rgba(0,0,0,0) 0.5rem, var(--theme-bg-content) 0.5rem);
}
main {
  background: var(--theme-bg-content);
  padding-top: 36px;
  position: relative;
  height: 100%;
  flex-grow: 1;
  transition: background-color var(--transition-timing), color var(--transition-timing);
}
main section {
  padding: 1rem;
  border-bottom: 1px var(--theme-border) solid;
}
.section-heading svg {
  height: 36px;
  min-width: 30px;
  width: 30px;
  filter: drop-shadow(0.05rem 0.05rem 0 var(--theme-shadow));
}
.section-heading button {
  margin: 0 0 0.1rem 0.25rem;
}
.section-heading button {
  align-self: flex-end;
}
.container {
  position: relative;
}
.container-heading {
  position: relative;
  overflow: hidden;
  padding: var(--border-width);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.container-heading::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1rem;
  left: 0;
  animation-duration: 1s;
  animation-name: background-active-color;
  animation-play-state: paused;
  animation-delay: var(--scroll-position, 0);
  animation-timing-function: linear;
  transform: rotateZ(-90deg) translate(-100%, -100%);
  transform-origin: top left;
  transition: transform 0.5s ease-out 0.5s;
}
.container-heading::after {
  content: '';
  position: absolute;
  top: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  left: var(--border-width);
  background: var(--theme-bg-content);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.container-heading span {
  background: var(--theme-bg-accent);
  position: relative;
  display: block;
  padding: 0.25rem 1.5rem 0.15rem;
  z-index: 1;
  opacity: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: opacity 1s ease-in;
}
.container-indicator {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  z-index: 1;
  opacity: 0;
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0.4rem;
  cursor: pointer;
  transition: opacity 1s ease-in;
  box-shadow: 0 0 2px var(--theme-shadow-accent);
}
.container-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--theme-font-accent);
  border-left: 0.1rem var(--theme-bg-content) solid;
  border-right: 0.1rem var(--theme-bg-content) solid;
  border-top: 0.34rem var(--theme-bg-content) solid;
  border-bottom: 0.34rem var(--theme-bg-content) solid;
  border-radius: 0.1rem;
}
input.container-toggle {
  display: none;
}
input.container-toggle:checked ~ label .container-indicator::after {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 0.325rem;
  right: 0.325rem;
  bottom: 0.1rem;
  background: var(--theme-font-accent);
}
input.container-toggle:checked ~ .container-content {
  max-height: 0px;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.container-content {
  position: relative;
  max-height: 1000px;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: -0.05rem;
  transition: all 0.35s, color var(--transition-timing);
}
.container-content::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3rem;
  left: -1.5rem;
  animation-duration: 1s;
  animation-name: background-active-color;
  animation-play-state: paused;
  animation-delay: var(--scroll-position, 0);
  animation-timing-function: linear;
  transform: rotateZ(-90deg) translate(-100%, -100%);
  transform-origin: top left;
  transition: transform 0.5s ease-out 0.5s;
}
.container-content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 200%;
  transform: translateY(-50%);
  transition: transform 1s ease-in;
  background: linear-gradient(0deg, var(--theme-bg-content) 0%, var(--theme-bg-content) 50%, rgba(0,0,0,0) 100%);
}
.container-content > div {
  position: relative;
  height: calc(100% - 0.1rem);
  background: var(--theme-bg-content);
  margin: var(--border-width);
  padding-bottom: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.container.draw .container-heading::before,
.container.draw .container-content::before {
  transform: rotateZ(0deg) translate(0%, -0%);
  transition: transform 0.5s ease-out;
}
.container.draw .container-content::after {
  transform: translateY(50%);
  transition: transform 1s ease-in 0.5s;
}
.container.draw .container-indicator,
.container.draw .container-heading span {
  opacity: 1;
  transition: opacity 1s ease-in 0.5s;
}
.theme-toggle {
  position: sticky;
  top: 2.25rem;
  left: 100%;
  z-index: 9;
}
.theme-toggle button {
  padding: 0.25rem 0.4rem 0.1rem;
  font-size: 1.15rem;
  line-height: 1em;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-origin: center right;
}
.theme-toggle svg {
  width: 20px;
  height: 20px;
}
.stage {
  display: none;
  perspective: 200px;
  margin: -3rem -2rem;
  overflow: hidden;
}
.stage .back {
  position: absolute;
  bottom: 2px;
  left: 45%;
  width: 10%;
  height: 1.25rem;
  cursor: pointer;
}
.stage .back::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  animation: hop 2s infinite;
  border-right: 4px var(--theme-color-orange) solid;
  border-bottom: 4px var(--theme-color-orange) solid;
  transform: translate(-50%,-50%) rotateZ(45deg);
}
.scene {
  perspective: 200px;
  position: relative;
  height: 365px;
  margin: 3rem 2rem;
  transition: all 0.35s ease-out;
}
.scene .tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  box-shadow: 0 0 1rem var(--theme-shadow);
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--theme-color-orange);
  background: var(--theme-bg-content);
  transition: box-shadow 0.15s;
}
.scene .tile.right {
  left: 55%;
}
.scene .tile::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(100% - 0.75rem);
  width: 13%;
  border-bottom: 1px var(--theme-color-orange) dashed;
}
.scene .tile.right::after {
  right: calc(100% - 0.75rem);
  left: auto;
}
.scene .marker {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 22.25%;
  height: 3rem;
  transform: translateY(50%);
}
.scene .tile.right .marker {
  right: 100%;
  left: auto;
}
.scene .marker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.5rem;
  width: 3rem;
  transform: translate(-50%,-50%);
  border: 3px var(--theme-color-orange-alpha-15) solid;
  border-radius: 50%;
}
.scene .tile:not(.current):hover .marker::before {
  border: 3px var(--theme-color-orange) solid;
}
.scene .marker::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.75rem;
  width: 1.5rem;
  transform: translate(-50%,-50%);
  background: var(--theme-color-orange);
  border-radius: 50%;
}
.scene .tile:not(.current) {
  cursor: pointer;
}
.scene .tile:not(.current):hover {
  box-shadow: 0 0 1rem var(--theme-shadow-accent);
}
.scene .tile.fade-tile {
  animation-name: fade-tile;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}
.scene .timeline {
  position: absolute;
  bottom: 0;
  left: 49.5%;
  width: 1%;
  height: 2100px;
  background: var(--theme-color-orange-alpha-15);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}
.scene .grid {
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  grid-template-rows: minmax(0, 60%) minmax(40%, auto);
}
.scene .background {
  position: relative;
}
.scene picture {
  height: 100%;
}
.scene .background img {
  height: 100%;
}
.scene .background:after {
  content: '';
  position: absolute;
  top: 90%;
  right: 0;
  bottom: -1px;
  left: 0;
  background: linear-gradient(0deg, var(--theme-bg-content) 0%, rgba(255,255,255,0) 100%);
}
.scene .content {
  padding: 0.75rem 1rem 1rem;
}
.scene .content p {
  margin-top: 0;
}
.scene h2 {
  font-style: italic;
  font-size: 1.17rem;
  color: var(--theme-font-accent);
  font-weight: normal;
  margin-bottom: 0.45rem;
}
.headshot {
  text-align: center;
}
.headshot img {
  width: 100%;
  max-width: 294px;
  max-height: 294px;
  border-radius: 50%;
  border: 1rem #fff solid;
  box-shadow: 0 0 0.5rem var(--theme-shadow);
}

@media(min-width:768px) {
  html {
    scroll-padding-top: 0;
  }
  body {
    font-size: 14px;
  }
  .wrapper {
    display: flex;
  }
  .grid.col-3 {
    grid-auto-flow: row;
    grid-template-areas: "a a";
  }
  nav {
    position: sticky;
    flex-direction: column;
    width: 12.75rem;
    height: 100vh;
  }
  nav > div {
    display: block;
  }
  nav a {
    display: flex;
    align-items: center;
    text-align: left;
    flex: auto;
    font-size: 1.75rem;
    line-height: 1.55em;
    padding: 0 0 0 1.5rem;
    border: none;
  }
  nav a:hover {
    font-size: 1.85rem;
    line-height: 2rem;
  }
  nav span {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    border-bottom: 1px var(--theme-border) solid;
  }
  main {
    width: calc(100% - 200px);
    padding-top: 0;
  }
  main section {
    padding: 2rem;
  }
  #hello {
    padding-bottom: 3rem;
  }
  .section-heading svg {
    height: 48px;
    width: 42px;
  }
  .section-heading h2 {
    flex-grow: unset;
  }
  .section-heading button {
    margin: 0 0 0.25rem 0.875rem;
  }
  h2 {
    font-size: 3rem;
  }
  .theme-toggle {
    top: 1rem;
  }
  .theme-toggle button {
    max-width: 1.5rem;
    padding: 0.25rem 0 0;
    border-right: none;
    border-top: 1px var(--theme-border) solid;
    border-top-left-radius: 0.2rem;
    border-bottom-right-radius: 0;
    animation-duration: 1s;
    animation-name: border-active-color;
    animation-play-state: paused;
    animation-delay: var(--scroll-position, 0);
    animation-timing-function: linear;
  }
  .theme-toggle button:hover {
    border-color: var(--theme-font-accent);
  }
  .stage {
    display: block;
  }
  a.button.download {
    margin: 1.5rem 0 2rem;
  }
  .headshot {
    margin: 0 1rem;
  }
}

@media(min-width:1024px) {
  .grid:not(.flow-row) {
    grid-auto-flow: column;
  }
  .grid.col-3 {
    grid-auto-flow: row;
    grid-template-areas: "a a a";
  }
}

@media(min-width:1151px) {
  body {
    font-size: 16px;
  }
  .masonry {
    gap: 1rem;
  }
}

@keyframes border-active-color {
  0% {
    border-color: var(--theme-color-orange);
  }
  25% {
    border-color: var(--theme-color-blue);
  }
  50% {
    border-color: var(--theme-color-red);
  }
  75% {
    border-color: var(--theme-color-green);
  }
}

@keyframes background-active-color {
  0% {
    background-color: var(--theme-color-orange);
  }
  25% {
    background-color: var(--theme-color-blue);
  }
  50% {
    background-color: var(--theme-color-red);
  }
  75% {
    background-color: var(--theme-color-green);
  }
}

@keyframes font-active-color {
  0% {
    color: var(--theme-color-orange);
  }
  25% {
    color: var(--theme-color-blue);
  }
  50% {
    color: var(--theme-color-red);
  }
  75% {
    color: var(--theme-color-green);
  }
}

@keyframes fade-tile {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes hop {
	0% {
    transform: translate(-50%,calc(-50% - 0.35rem)) rotateZ(45deg);
	}
	25% {
    transform: translate(-50%,-50%) rotateZ(45deg);
	}
	50% {
    transform: translate(-50%,calc(-50% - 0.35rem)) rotateZ(45deg);
	}
	75% {
	  transform: translate(-50%,-50%) rotateZ(45deg);
	}
	100% {
    transform: translate(-50%,calc(-50% - 0.35rem)) rotateZ(45deg);
	}
}